h1 {
    color: white;

}

a {
    color: blue;
    font-size: 1em;
}

p {
    text-align: center;
    font-size: 1em;
    color: white;
}

body {
    background: url("images/patrick-tomasso-5hvn-2WW6rY-unsplash.jpg") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: blue;
    font-size: Arial, 1em;
}

div {
    text-align: center;
}

.new2 {
    text-align: right;
}